body {
    background: #000;
    display: flex;
    color: #fff;
    font-family: sans-serif;
    font-size: 2em;
    text-align: center;
}
.player {
    flex: 1 1 auto;
}
canvas {
    border: solid 0.2em #fff;
    height: 90vh;
}
